*{
     margin: 0;
     padding: 0;
}
.container{
     height: 100vh;
     width: 100%;
     background-image: linear-gradient(to right, #92479a, #0f0c28);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     height: 94% ;
     width: 84%;
     box-shadow: 0 0 20px 0;
}
.leftpart{
     height: 100%;
     width: 60%;
     background-image: url(img.jpg);
     background-size: cover;
     color: white;
     float: left;
}
.t1{
     font-size: 50px;
     letter-spacing: 6px;
     height: 100px;
     width: 100%;
     text-align: center;
     padding: 150px 0 0 0;
}
.t2{
     margin: 0 80px 0 80px ;
}
.rightpart{
     background-color: white;
     height: 100%;
     width: 40%;
     float: right;
}
.w1{
     color: #281b4f;
     font-size: 26px;
     width: 100%;
     text-align: center;
     padding-top: 180px;
}
.w2{
     background-color: #bbb8d1;
     text-align: center;
     color: #281b4f;
     margin: 36px 80px 36px 80px;
     padding: 14px;
     border: 1px;
     border-radius: 30px;

}
.fa-solid{
     padding-right: 10px;
     font-size: 16px;
}
.y1{
     border: none;
     outline: none;
     font-size: 18px;
     background-color: #bbb8d1;
}
.checkbo{
     width: 66%;
     height: 50px;
     margin-left: 86px;
}
.asss{
     float: right;
     text-decoration: none;
 
}
.asss, .yt{
     color: #0f0c28;
}
#uy{
     width: 30%;
     text-align: center;
     font-size: 20px;
     margin-left: 210px;
     padding: 10px;
     background-image: linear-gradient(to right, #92479a, #0f0c28);
     border: 1px;
     border-radius: 40px;
}